#header-wrapper {
    text-align: center;
    h1 {
        font-size: 2rem;
        margin-bottom: 25px;
        padding: 40px 65px;
        width: 50%;
        margin: 0 auto;
    }
    #sidebar-wrapper {
        width: 205px;
        position: fixed;
        left: -291px;
        top: 0;
        height: 100%;
        padding: 4% 1%;
        background: #F46666;
        background-image: linear-gradient(to right, #5E73E8, #8D9BE7);
        color: #fff;
        transition: 0.4s;
        .menu-open-close {
            float: left;
            margin-top: -28px;
            margin-left: 276px;
            background: rgba(255, 255, 255, 0.7);
        }
        .menu-close {
            float: right;
            width: 100%;
            text-align: right;
        }
        nav {
            display: block;
            margin-top: 42px;
            a {
                display: block;
                margin: 40px 0;
                font-size: 1.2rem;
            }
        }
    }
}