<section class="">
    <section class="parallax parallax-1">
        <div class="container"></div>
    </section>
    <div class="container">
        <section class="sub-container">
            <p>Crazy and mad about photos? Welcome to the world of photography.</p>
            <p>Whether you are an aspiring photographer just starting out or a professional photographer looking to build your business, here's a platform to showcase your photos. Feel free to upload your photos on anything for free and get yourself recognized.</p>
            <p>Showcasing the work of established photographers, we focuses on featuring photo stories across several categories. Topics include portraits, still life, landscapes, fine art, and documentary photography. We appreciate images that tell stories
                and focus on the narrative behind each photo.</p>
            <button type="button" class="btn"><a routerLink="/photoslide">Learn more</a></button>
        </section>
    </div>
</section>